<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>医蟹网|千睿医蟹联盟</title>
    <link rel="icon" href="../../favicon.ico" sizes="32x32" />

    <link href="../../assert/plugs/materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="../../assert/plugs/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <!--<link href="../../assert/css/index.min.css" rel="stylesheet" />-->
    <link href="../../assert/css/default/index.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="../../assert/plugs/others/html5shiv.js"></script>
        <script src="../../assert/plugs/others/respond.min.js"></script>
    <![endif]-->
    <script src="../../assert/scripts/ie10fix.js"></script>
    <script src="../../assert/scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <nav class="z-depth-0 ">
                <div class="nav-wrapper">
                    <a href="javascript:location.reload();" class="brand-logo"><img id="data-logo" class="responsive-img logo" src="" /></a>
                    <h4 id="data-name" class="center titlename"></h4>
                    <div class="btns right">
                        <a id="login" class="waves-effect waves-teal btn btn-flat"  href="" target="_blank">登录</a>|
                        <a class="waves-effect waves-teal btn btn-flat" href="#">注册</a>
                    </div>
                </div>
            </nav>
            <nav class="z-depth-0 left">
                <div class="nav-wrapper">
                    <ul id="nav-mobile" class="left hide-on-med-and-down nav-menu"></ul>
                    <form class="right hide-on-med-and-down">
                        <div class="input-field">
                            <input id="search" type="search" placeholder="请输入内容" required>
                            <label for="search" class="active"><i class="fa fa-search"></i></label>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <div class="section center">
        <img id="data-backimg" class="responsive-img banner" src="" />
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div id="data-content" class="col s9 l9">
                    <div class="col s12 m6 l1">
                        <div class="valign-wrapper crol-name">
                            <h5 id="data-sige-title" class="valign"></h5>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <img id="data-sige-img" class="responsive-img sige-img" src="" />
                    </div>
                    <div class="col s12 m12 l7">
                        <div class="crol-text">
                            <p id="data-sige-introduce" class=""></p>
                        </div>
                    </div>
                    <div class="col s12 l12">
                        <p></p>
                        <div class="col s12 grey lighten-2"><h1></h1></div>
                    </div>
                </div>
                <div class="col s6 l3">
                    <div class="">
                        <div class="vip-area">
                            <ul class="collection with-header">
                                <li class="header">尊享服务区</li>
                                <li class="header-title" style="height:172px;line-height:30px;padding-top:10%;">采购招标</li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">采购公告</a></li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">招标结果公示</a></li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">客户关系管理</a></li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">资质备案智能管理</a></li>
                                <li class="header-title" style="height:172px;line-height:30px;padding-top:10%;">专属办公</li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">采购订单管理</a></li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">耗材物流链管理</a></li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">设备运维保障支持</a></li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">设备质控管理</a></li>
                                <li class="header-title" style="height:86px;line-height:30px;padding:5%;">精细管理</li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">设备成本效益分析</a></li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">耗材流量流向管控</a></li>
                                <li class="header-title" style="height:300px;line-height:50px;padding-top:10%;">市场支持</li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">找产品</a></li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">找总代</a></li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">市场询价</a></li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">征询参数</a></li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">找服务</a></li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">交流互动</a></li>
                                <li><a href="http://www.mdevc.com" class="collection-item" target="_blank">行业技术交流</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">联系方式</h5>
                    <p class="grey-text text-lighten-4" style="height:15px;">电话：029-81885844</p>
                    <p class="grey-text text-lighten-4" style="height:15px;">邮箱：xaqryxjs@hotmail.cn</p>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">友情链接</h5>
                    <ul>
                        <li><a href="http://www.mdevc.com" class="grey-text text-lighten-3" target="_blank">千睿医蟹网</a></li>
                        <li><a href="http://124.115.223.206:8089/gymis/" class="grey-text text-lighten-3" target="_blank">耗材供应商</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy;2016 版权所有 西安千睿网络信息有限公司
                <a class="grey-text text-lighten-4 right" href="http://www.mdevc.com">最新、最全医疗器械信息，请上千睿医蟹网！</a>
            </div>
        </div>
    </footer>

    <script src="../../assert/plugs/json2/json2.min.js"></script>
    <script src="../../assert/plugs/jquery/jquery.min.js"></script>
    <script src="../../assert/plugs/materialize/js/materialize.min.js"></script>
    <script src="../../assert/scripts/abp/abp.js"></script>
    <script src="../../assert/scripts/abp/libs/abp.jquery.js"></script>
    <script src="../../assert/scripts/global.js"></script>
    <script>

        $(function () {
            Global.init();
            Global.load_Menu();
            //$('.carousel.carousel-slider').carousel({ full_width: true });
            Global.load_Configs();
        });

    </script>
</body>
</html>