@{
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
}
@section scripts{
    <script>
        $(function () {
            $('.carousel.carousel-slider').carousel({ full_width: true });
            load_Menu();
        });
    </script>
}
<div class="col s12 m12 l5">
    <div class="valign-wrapper crol-name">
        <h5 class="valign">单位简介</h5>
    </div>
    <img class="responsive-img materialboxed" style="width:300px" src="~/Content/images/indexDisplay/15555-01_12.gif" />
</div>
<div class="col s12 m12 l7">
    <div class="crol-text">
        <p>西安千睿网络信息有限公司成立于2015年，主营千睿医蟹（平台）网，致力于建设现代医疗器械行业公共服务平台，业已建成以大数据统筹和云端服务为特色的专业化应用型网站，面向医疗器械产业领域的制造企业、经销公司、医院用户和学术组织及社会团体，实现全行业多维度信息资源整合和互动。</p>
    </div>
</div>
<div class="col s12 l12">
    <p></p>
    <div class="col s12 grey lighten-2"><h1></h1></div>
</div>
<div class="col s12 l12">
    <div class="card z-depth-1">
        <div class="card-action">
            <span class="card-title">风采展示</span>
            <a class="btn-flat right" href="#!"><i class="fa fa-chevron-right"></i></a>
        </div>
        <div class="divider"></div>
        <div class="card-content">
            <ul>
                <li><a class="" href="#!">千睿医蟹网上线啦<span class="badge red">置顶</span></a><span class="grey-text text-lighten-1 right">2016年07月13日</span></li>
                <li><a class="" href="#!">千睿ERP系统成功部署</a><span class="grey-text text-lighten-1 right">2016年07月13日</span></li>
                <li><a class="" href="#!">开进贤之路，纳天下英才</a><span class="grey-text text-lighten-1 right">2016年07月13日</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="col s12 l4">
    <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="~/Content/images/indexDisplay/huodong.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
                产品中心<i class="mdi-navigation-more-vert right"></i>
            </span>
            <p><a href="http://www.mdevc.com/index.php?g=Orga&m=Page&a=index&uid=204&id=208&cid=74">查看更多</a></p>
        </div>
        <div class="card-reveal crol-text">
            <span class="card-title grey-text text-darken-4">GEM Premier血气分析仪<i class="mdi-navigation-close right"></i></span>
            <p>独特的一体化分析包，IQM智能化质控管理技术，完善的分析菜单，血氧检测及GEMwebPlus软件的完美结合，让GEMPremier4000为血气分析带来了真正的自动化。简单而灵活，它成为世界各地医院实验室与POC血气分析的首选，为血气分析检测带来全新的标准。</p>
            <p>它简单、灵活、免维护，可以在几分钟内学会基本操作，便于更多人熟练操作，保证检测结果的一致性，方便用户自定义，广泛的分析物检测，多项参数分析及血氧检测功能，从一份样本就可以获得全面的临床评估。GEM是在市场上唯一使用一体化分析包技术的产品；在一个分析包内囊括了检测所需的全部组件，并且分析包无需冷藏。……</p>
        </div>
    </div>
</div>
<div class="col s12 l4">
    <div class="card small" >
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="~/Content/images/indexDisplay/huodong.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
                产品中心<i class="mdi-navigation-more-vert right"></i>
            </span>
            <p><a href="http://www.mdevc.com/index.php?g=Orga&m=Page&a=index&uid=204&id=208&cid=74">查看更多</a></p>
        </div>
        <div class="card-reveal crol-text">
            <span class="card-title grey-text text-darken-4">GEM Premier血气分析仪<i class="mdi-navigation-close right"></i></span>
            <p>独特的一体化分析包，IQM智能化质控管理技术，完善的分析菜单，血氧检测及GEMwebPlus软件的完美结合，让GEMPremier4000为血气分析带来了真正的自动化。简单而灵活，它成为世界各地医院实验室与POC血气分析的首选，为血气分析检测带来全新的标准。</p>
            <p>它简单、灵活、免维护，可以在几分钟内学会基本操作，便于更多人熟练操作，保证检测结果的一致性，方便用户自定义，广泛的分析物检测，多项参数分析及血氧检测功能，从一份样本就可以获得全面的临床评估。GEM是在市场上唯一使用一体化分析包技术的产品；在一个分析包内囊括了检测所需的全部组件，并且分析包无需冷藏。……</p>
        </div>
    </div>
    @*<div class="card small z-depth-1 hoverable">
            <div class="card-image">
                <a href="#">
                    <img class="responsive-img" src="~/Content/images/indexDisplay/15555-01_33.gif">
                </a>
            </div>
            <div class="card-content">
                <p class="p-indent">陕西省人民医院耗材试剂部成立于2013年11月，是将原设备管理科医用耗材和原药剂科实验试剂的供管职能分离并重新整合后成立的部门，专技定位，处级建制,承担全院医用耗材及实验试剂的采购、仓储和使用的管理和服务职责。</p>
            </div>
            <div class="card-action">
                <span class="" style="color:#0d47a1">合作单位</span>
                <a class="right" href="#">查看详情</a>
            </div>
        </div>*@
</div>
<div class="col s12 l4">
    <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="~/Content/images/indexDisplay/xueqifenxiyi.png">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
                企业文化<i class="mdi-navigation-more-vert right"></i>
            </span>
            <p><a href="#">查看更多</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">员工活动<i class="mdi-navigation-close right"></i></span>
            <p>公司将不定期组织员工进行一些户外运动、旅游等。</p>
        </div>
    </div>
    @*<div class="card small z-depth-1 hoverable">
            <div class="card-image">
                <a href="#">
                    <img class="responsive-img" src="~/Content/images/indexDisplay/15555-01_29.gif" style="height:180px;width:433px;">
                </a>
            </div>
            <div class="card-content">
                <p class="p-indent">医疗器械的合法生产和规范使用与否直接关系到患者的生命安全，新修订的《医疗器械监督管理条例》在一定程度上解决了医疗器械虚假注册申报、违规生产、非法经营、夸大宣传、使用无证产品等问题，使医疗器械行业得到了一定的规范。但对医疗器械行业的整顿更多的应该是对源头的把关和监管，同时还需要医疗机构与患者追责意识的加强。</p>
            </div>
            <div class="card-action">
                <span class="" style="color:#0d47a1">员工风采</span>
                <a class="right" href="#">查看详情</a>
            </div>
        </div>*@
</div>

