<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title id="data-title">医蟹网|千睿医蟹联盟</title>
    <link rel="icon" href="../../favicon.ico" sizes="32x32" />

    <!-- for-mobile-apps -->

    <meta name="keywords" content="医蟹网 医械" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>

</head>

<body>
    <!-- banner-body -->
    <div class="banner-body">
        <div class="container">
            <div class="banner-body-content">
                <div class="col-xs-3 banner-body-left">
                    <div class="logo">
                        <img src="images/images/logo.jpg" width="200" height="200">
                    </div>
                    <div class="top-nav">
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                                <nav class="stroke">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="javascript:location.reload();"><i class="home"></i>首页</a></li>
                                        <li><a href="#" class="hvr-underline-from-left"><i class="picture1"></i>公司简介</a></li>
                                        <li><a href="#" class="hvr-underline-from-left"><i class="edit1"></i>产品系列</a></li>
                                        <li><a href="#" class="hvr-underline-from-left"><i class="text-size1"></i>客户列表</a></li>
                                        <li><a href="#" class="hvr-underline-from-left"><i class="envelope1"></i>业务在线</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                    </div>
                </div>
                <div class="col-xs-9 banner-body-right">
                    <div class="wmuSlider example1">
                        <div class="wmuSliderWrapper">
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="banner-wrap">
                                    <div class="banner">
                                    </div>
                                </div>
                            </article>
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="banner-wrap">
                                    <div class="banner1">
                                    </div>
                                </div>
                            </article>
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="banner-wrap">
                                    <div class="banner2">
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <script src="js/jquery.wmuSlider.js"></script>
                    <script>
                        $('.example1').wmuSlider();
                    </script>
                    <div class="banner-bottom">
                        <div class="col-md-4 banner-left">
                            <div class="col-xs-3 banner-left1">
                                <div class="banner-left11">
                                    <span></span>
                                </div>
                            </div>
                            <div class="col-xs-9 banner-right1">
                                <h3>A5麻醉工作站</h3>
                            </div>
                            <div class="clearfix"> </div>
                            <p>贴心设计 应您所需</p>

                        </div>
                        <div class="col-md-4 banner-left">
                            <div class="col-xs-3 banner-left1">
                                <div class="banner-left22">
                                    <span> </span>
                                </div>
                            </div>
                            <div class="col-xs-9 banner-right1">
                                <h3>蛇牌机器人臂</h3>
                            </div>
                            <div class="clearfix"> </div>
                            <p>眼见为实，体验不同</p>

                        </div>
                        <div class="col-md-4 banner-left">
                            <div class="col-xs-3 banner-left1">
                                <div class="banner-left33">
                                    <span> </span>
                                </div>
                            </div>
                            <div class="col-xs-9 banner-right1">
                                <h3>A7麻醉工作站</h3>
                            </div>
                            <div class="clearfix"> </div>
                            <p>北美科技 触手可及</p>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="col-xs-3 banner-body-left">
                    <div class="latest-news">
                        <h2>热点新闻</h2>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            医改热点
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            职业EMS
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            医电苑
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="join">
                            <a href="#">Learn More</a>
                        </div>
                        <h3>关于昌邑</h3>
                        <p>位于陕西省西安市环城西路218号。</p>
                        <p>主营业务：医用电子仪器设备，医用光学器具、仪器及内窥镜设备，医用高频仪器设备，手术室、急救室、诊疗室设备及器具销售及售后。</p>
                    </div>
                </div>
                <div class="col-xs-9 banner-body-right">
                    <div class="msg-text">
                        <div class="col-xs-2 msg-text-left">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </div>
                        <div class="col-xs-10 msg-text-right">
                            <p>
                                But I must explain to you how all this mistaken idea of
                                denouncing pleasure and praising pain was born and I will give
                                you a complete account of the system.
                            </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="msg-text-bottom">
                        <div class="col-md-4 msg-text-bottom-left">
                            <figure class="effect-winston">
                                <a href="#">
                                    <img src="images/images/cp1.jpg" alt=" " class="img-responsive" />
                                    <figcaption></figcaption>
                                </a>
                            </figure>

                            <h3><a href="#">A5麻醉机</a></h3>
                            <p>
                                贴心设计 应您所需
                                A5麻醉工作站作为A系列的主力机型，A5具有独创的用户全触摸无菜单的用户界面，与ICU呼吸机媲美的通气模式，以及与其他设备无缝连接的信息通讯技术，是的A5麻醉工作站成为全球高端麻醉机中一颗耀眼的明星。
                            </p>
                        </div>
                        <div class="col-md-4 msg-text-bottom-left">
                            <figure class="effect-winston">
                                <a href="#">
                                    <img src="images/images/cp2.jpg" alt=" " class="img-responsive" />
                                    <figcaption></figcaption>
                                </a>
                            </figure>
                            <h3><a href="#">蛇牌机器人臂3D内窥镜</a></h3>
                            <p>
                                眼见为实，体验不同
                                画质卓越的3D子影像，结合机器人臂辅助握持科技，蛇牌蛇牌爱因斯坦智能机器人臂辅助3D内窥镜系统，为微创内窥镜手术提供创新的解决方案，满足您的便捷所需。身临其境精确剥离、缝合、定位，提高手术效率。
                            </p>
                        </div>
                        <div class="col-md-4 msg-text-bottom-left">
                            <figure class="effect-winston">
                                <a href="#">
                                    <img src="images/images/cp3.jpg" alt=" " class="img-responsive" />
                                    <figcaption></figcaption>
                                </a>
                            </figure>
                            <h3><a href="#">A7麻醉机</a></h3>
                            <p>
                                北美科技 触手可及
                                A7麻醉工作站作为A系列的旗舰，A7具有独创的用户全触摸无菜单的用户界面，全球领先的气体混合技术，与ICU呼吸机媲美的通气模式，以及与其他设备无缝连接的信息通讯技术，是的A7麻醉工作站成为全球高端麻醉机中一颗耀眼的明星。
                            </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="footer">
                    <div class="footer-left">
                        <ul>
                            <li><a href="#">Privacy Policy</a>|</li>
                            <li><a href="#">Terms of Use</a>|</li>
                            <li><a href="#">关于我们</a></li>
                        </ul>
                        <p>
                            &copy;2016 版权所有 西安千睿网络信息有限公司
                            <a class="grey-text text-lighten-4 right" href="http://www.mdevc.com">最新、最全医疗器械信息，请上千睿医蟹网！</a>
                        </p>
                    </div>
                    <div class="footer-right">
                        <ul class="social-nav model-3">
                            <li><a href="#" class="icon icon-border facebook"></a></li>
                            <li><a href="#" class="icon icon-border twitter"></a></li>
                            <li><a href="#" class="icon icon-border googleplus"></a></li>
                            <li><a href="#" class="icon icon-border github"></a></li>
                            <li><a href="#" class="icon icon-border rss"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner-body -->
    <!-- for bootstrap working -->
    <script src="js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
</body>
</html>