<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title id="data-title">医蟹网|千睿医蟹联盟</title>
    <link rel="icon" href="../../favicon.ico" sizes="32x32" />

    <!-- for-mobile-apps -->

    <meta name="keywords" content="医蟹网 医械" />
    <!--<script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>-->
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->

</head>

<body>
    <!-- banner-body -->
    <div class="banner-body">
        <div class="container">
            <div class="banner-body-content">
                <div class="row">
                    <div class="col-xs-3 banner-body-left">
                        <div class="logo">
                            <a href="javascript:location.reload();"><img id="data-logo" src="" width="200" height="200"></a>
                        </div>
                        <div class="top-nav">
                            <nav class="navbar navbar-default">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <!--<div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar">让他try</span>
                                    </button>
                                </div>-->
                                <!-- 菜单/栏目 -->
                                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                                    <nav class="stroke">
                                        <ul class="nav navbar-nav" id="nav-menu"></ul>
                                    </nav>
                                </div>
                                <!-- /.navbar-collapse -->
                            </nav>
                        </div>
                        <!--特别关注的文章-->
                        <div class="latest-news">
                            <h2>热点新闻</h2>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            </div>
                            <div class="join">
                                <a href="#">更多</a>
                            </div>
                            <h3>关于我们</h3>
                            <div></div>
                            <p id="data-us">位于陕西省西安市环城西路218号。</p>
                            <!--<p>主营业务：医用电子仪器设备，医用光学器具、仪器及内窥镜设备，医用高频仪器设备，手术室、急救室、诊疗室设备及器具销售及售后。</p>-->
                        </div>
                    </div>
                    <div class="col-xs-9 banner-body-right" id="data-right-page">
                        <!-- single -->
                        <div id="data-page"></div>
                        <!-- //single -->
                        <!--banner/轮播图-->
                        <div class="wmuSlider example1 row">
                            <div class="wmuSliderWrapper" id="banner">
                            </div>
                        </div>
                        <div class="banner-bottom row" id="banner-bottom">
                            
                            <div class="clearfix"></div>
                        </div>

                        <div class="msg-text row">
                            <div class="col-xs-2 msg-text-left">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            </div>
                            <div class="col-xs-10 msg-text-right">
                                <p>
                                    忍别人所不能忍的痛，吃别人所别人所不能吃的苦，是为了收获得不到的收获。
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="msg-text-bottom row" id="msg-text-bottom">
                           
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <!--页脚内容-->
                <div class="footer">
                    <div class="footer-left">
                        <ul>
                            <li><a href="#">Privacy Policy</a>|</li>
                            <li><a href="#">Terms of Use</a>|</li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                        <p>
                            &copy;2016 版权所有 西安千睿网络信息有限公司
                            <a class="grey-text text-lighten-4 right" href="http://www.mdevc.com">最新、最全医疗器械信息，请上千睿医蟹网！</a>
                        </p>
                    </div>
                    <div class="footer-right">
                        <ul class="social-nav model-3">
                            <!--<li><a href="#" class="icon icon-border facebook"></a></li>
                            <li><a href="#" class="icon icon-border twitter"></a></li>
                            <li><a href="#" class="icon icon-border googleplus"></a></li>
                            <li><a href="#" class="icon icon-border github"></a></li>
                            <li><a href="#" class="icon icon-border rss"></a></li>-->
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner-body -->
    <!-- for bootstrap working -->
    <script src="../../assert/plugs/jquery/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="../../assert/scripts/abp/abp.js"></script>
    <script src="../../assert/scripts/abp/libs/abp.jquery.js"></script>
    <script src="template6.js"></script>
    <script src="js/jquery.wmuSlider.js"></script>
    <script>
        $(function () {
            Global.init();
            Global.load_Menu();
            //$('.carousel.carousel-slider').carousel({ full_width: true });
            Global.load_Configs();
            Global.load_Sliders();
            Global.load_FriendLink();
        });

        $(document).on("mouseover", ".openmenu",
         function () {
             clearTimeout(setTimeout("0") - 1);
             var id = $(this).attr('id')
             $("#child" + id).css("display", "block");
         }).on("mouseout", ".openmenu",
             function () {
                 var id = $(this).attr('id')
                 $("#child" + id).css("display", "none");
             }
        );
    </script>
    <!-- //for bootstrap working -->
</body>
</html>