
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>陕西省人民医院医疗器材网网站模板</title>
<script language=javascript>
document.write('<link rel=stylesheet type="text/css" href="css/style.css">')
</script>
<link type="text/css" href="css/nav.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="js/jquery-1.7.2.min.js"></script>
<script language="javascript" src="js/nav.js"></script>
<script language="javascript" src="js/jquery.pack.js"></script>
<script language="javascript" src="js/slide.js"></script>
<script language="javascript" src="js/png.js"></script>

</head>

<body>

<!--页头-->
<div class="head">
	<div class="top">
		<div class="line_01">
			<p class="logo"><a href="javascript:location.reload();" class="index"><img src="images/img/spphlogo01.jpg" width="477" height="76" /></a></p>
			
            <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
						<p class="search">
							<input type="text" value="" name='keyboard' id='keyboard' class="s_text"/>
							<input type="submit" value="搜索" class="s_btn"/>
						</p>
			</form>
            
		</div>
		<div class="header_all">
            <div class="nav" id="nav">
                    <p class="n_left_bg"><a href="javascript:location.reload();" class="index">首页</a></p>
                    <ul>
                    
                    <li>
                      <span class="v"><a href="#" class="about">医院概况</a></span>
					</li>
                    
                    <li><span class="v"><a href="#" class="party">科室简介</a></span>
                    <div class="bg">
                         <div class="b_link">
							<a href="#">医学装备部</a>
                            <a href="#">耗材试剂部</a>
                         </div>
                    </div>
                    </li>
                    
                      
                    <li><span class="v"><a href="#" class="news">学习园地</a></span>
                     <div class="bg">
                        <div class="b_link">
                        <a href="#">政策法规</a>
                    	<a href="#">医工学科</a>
                    	<a href="#">不良事件</a>
                        <a href="#">质量管理</a>
                        <a href="#">市场动态</a>
                        <a href="#">学科前沿</a>
                        
                        </div>
                     </div>
                    </li>
                    
                    <li><span class="v"><a href="#" class="industry">办事流程</a></span>
                    <div class="bg">
                         <div class="b_link">
							<a href="#">医学装备部</a>
                            <a href="#">耗材试剂部</a>
                         </div>
                    </div>
                    </li>
                    <li><span class="v"><a href="#" class="careers">表格下载</a></span>
                    <div class="bg">
                         <div class="b_link">
							<a href="#">医学装备部</a>
                            <a href="#">耗材试剂部</a>
                         </div>
                    </div>
                    </li>
                    
                    <li><span class="v"><a href="#" class="cultrue">公告公示</a></span>
                    <div class="bg">
                         <div class="b_link">
							<a href="#">医学装备部</a>
                            <a href="#">耗材试剂部</a>
                         </div>
                    </div>
                    </li>
                    <li><span class="v"><a href="#" class="contact">联系我们</a></span>
                    <div class="bg">
                         <div class="b_link">
							<a href="#">医学装备部</a>
                            <a href="#">耗材试剂部</a>
                         </div>
                    </div>
                  
                    
                    </li> </ul>
                 
                    <div class="clear"></div>
              </div>
		</div>
      	<div class="clear"></div>
  	</div>
    
</div>

<!--banner-->
<div class="banner">
	<!--banner-->
    <div class="ban_pic">

	<div class="image" id="image_1">
        <a href="#" target="_blank">
    	<img src="images/img/001_03.png"  />
        </a>
	<div class="word"></div>
        </div>

        <div class="image" id="image_2">
        <a href="#" target="_blank">
    	<img src="images/img/lxyz.jpg"  />
        </a>
	<div class="word"></div>
        </div>
        
        <div class="image" id="image_3">
        <a href="#" target="_blank">
    	<img src="images/img/yu1_07.png"  />
        </a>
	<div class="word"></div>
        </div>
	
	</div>
    
    
    <div class="open">
    	<div class="o_center">
            <!--
            <h3>快速服务通道：</h3>
            <p><marquee scrollamount="2" width="500" onmouseover="stop()" onmouseout="start()"></marquee></p>
            -->
        </div>
    </div>
</div>


<!-- 页中 新闻 通知等 --> 
<div class="main">
	<div class="m_content">
    	<div class="in_news">
        	<div class="in_tit">
            	<ul>
                	<li id="News_id"><a href="javascript:viod();" class="now">图片新闻</a></li>
                    <li id="Information_id"><a href="javascript:viod();">动态资讯</a></li>
                    
                </ul>
            </div>
            <div class="in_list" id="News">
            	<div class="in_pic">
                          <!-- 首页头条头图-->
                	<p>
                    <img src="images/img/xw.png" width="205" height="152" />
                    </p>
                </div>
                <div class="pic_list">
                	<ul>
                    <li><a href="#" title="陕西省人民医院简介">陕西省人民医院简介</a><span>2013-06-28</span></li>
                    <li><a href="#" title="陕西省人民医院——耗材试剂部简介">陕西省人民医院——耗材试剂部简介</a><span>2013-06-28</span></li>
                    <li><a href="#" title="陕西省人民医院——医学装备部简介">陕西省人民医院——医学装备部简介</a><span>2013-06-28</span></li>
                    <li><a href="#" title="陕西省人民医院——医学工程学科简介">陕西省人民医院——医学工程学科简介</a><span>2013-06-28</span></li>
                    <li><a href="#" title="省市药品不良反应监测中心领导调研指导我院医疗器械不良反应监测报告工作">省市药品不良反应监测中心领导调研指导我院医疗器械不良反应监测报告工作</a><span>2013-06-28</span></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
			
			 <div class="in_list" id="Information">
            	
                <div class="pic_list" style="width:640px;float:left;">
                	<ul>
                    	 <li><a href="#" title="医学装备部各种表格汇总">医学装备部各种表格汇总</a><span>2013-06-28</span></li>
                         <li><a href="#" title="耗材试剂部各种表格汇总">耗材试剂部各种表格汇总</a><span>2013-06-28</span></li>
                         <li><a href="#" title="医学装备——设备故障维修流程">医学装备——设备故障维修流程</a><span>2013-06-28</span></li>
                         <li><a href="#" title="医学装备——设备租赁流程">医学装备——设备租赁流程</a><span>2013-06-28</span></li>
                         <li><a href="#" title="医学装备——关键设备故障应急预案流程">医学装备——关键设备故障应急预案流程</a><span>2013-06-28</span></li>
                         <li><a href="#" title="耗材试剂——科研用耗材试剂购置流程">耗材试剂——科研用耗材试剂购置流程</a><span>2013-06-28</span></li>
                         </ul>
                </div>
                <div class="clear"></div>
            </div>
			
			 			
        </div>
        
        
        
        
        
        <div class="video">
        	<h3>重要通知</h3>
            <div>
            <div class="pic_list" style="width:260px;float:center;">
                <marquee scrollamount="3" direction="up" height="180px">
                <ul>
                <li><a href="#" title="医学装备部——离心机等招标公告">医学装备部——离心机等招标公告</a><span>2013-06-28</span></li>
                <li><a href="#" title="医学装备部——洗胃机等招标公告">医学装备部——洗胃机等招标公告</a><span>2013-06-28</span></li>
                <li><a href="#" title="耗材试剂部——病理科用试剂招标公告">耗材试剂部——病理科用试剂招标公告</a><span>2013-06-28</span></li>
                <li><a href="#" title="耗材试剂部——新生儿PICC招标公告">耗材试剂部——新生儿PICC招标公告</a><span>2013-06-28</span></li>
                <li><a href="#" title="医学装备部——离心机等招标公告">医学装备部——离心机等招标公告</a><span>2013-06-28</span></li>
                <li><a href="#" title="医学装备部——洗胃机等招标公告">医学装备部——洗胃机等招标公告</a><span>2013-06-28</span></li>
                <li><a href="#" title="医学装备部——离心机等招标公告">医学装备部——离心机等招标公告</a><span>2013-06-28</span></li>
                <li><a href="#" title="医学装备部——洗胃机等招标公告">医学装备部——洗胃机等招标公告</a><span>2013-06-28</span></li>
                </ul>
                </marquee>
                </div>
           
        </div>
        <div class="clear"></div>
    </div>	
</div>
</div>




<!-- 页11 -->



<div class="p-box">
    <div class="content">
        <ul style="display:inline-block">
            <li class="trangle scen">
                <img src="images/img/icon1.png" height="68" width="68" alt="">
                <span>
                    <h2><a href="#">采购招标</a></h2>
                    <h3><a href="#">采购公告</a>&nbsp; &nbsp; <a href="#">中标公示</a></h3>
                    <h3><a href="#">客户关系管理</a></h3>
                    <h3> <a href="#">资质智能管理</a></h3>
                </span>
            </li>
            <li class="trangle scen">
                <img src="images/img/icon2.png" height="68" width="68" alt="">
                <span>
                    <h2><a href="#">专属办公</a></h2>
                    <h3><a href="#">采购订单</a>&nbsp; &nbsp; <a href="#">物流链管理</a></p>
                    <h3><a href="#">设备运维保障支持</a></h3>
                    <h3><a href="#">设备质控管理</a></h3> 
                </span>
            </li>
            <li class="trangle scen">
                <img src="images/img/icon3.png" height="68" width="68" alt="">
                <span>
                    <h2><a href="#">精细管理</a></h2>
                    <h3><a href="#">设备成本效益分析</a></h3>
                    <h3><a href="#">耗材流量流向控制</a></h3> 
                </span>
            </li>
            <li class="trangle scen">
                <img src="images/img/icon4.png" height="68" width="68" alt="">
                <span>
                    <h2><a href="#">市场支持</a></h2>
                    <h3><a href="#">找产品</a>&nbsp; &nbsp; <a href="#">找总代</a></h3>
                    <h3><a href="#">市场询价</a>&nbsp; &nbsp; <a href="#">找服务</a></h3>
                    <h3><a href="#">征询参数</a>&nbsp; &nbsp; <a href="#">自由交流</a></h3>
                </span>
            </li>
         </ul>
    </div>
</div>







 
 
<!-- 图片滚动栏 设备展示--> 
<div class="gundong">
        	
            <div class="label_title">
            	<h3>先进设备</h3>
            </div>
            <div id="demox">
            	<div id="demoxList">
                	<div id="demo1x"> 
                    <a href=""><img src="images/img/dxsb/20083249422402.jpg"/><br/>设施</a>
                    <a href=""><img src="images/img/dxsb/200832492046518.jpg"/><br/>设施1</a>
                    <a href=""><img src="images/img/dxsb/200832492334382.jpg"/><br/>设施2</a> 
                    <a href=""><img src="images/img/dxsb/200832495039490.jpg"/><br/>设施3</a>
                    <a href=""><img src="images/img/dxsb/200832495424881.jpg"/><br/>设施4</a>
                    <a href=""><img src="images/img/dxsb/200839234247237.jpg"/><br/>设施5</a>
                    <a href=""><img src="images/img/dxsb/201482194526254.jpg"/><br/>设施6</a> 
                    <a href=""><img src="images/img/dxsb/2011112110510645.jpg"/><br/>设施7</a>
                    </div>	
                   <div id="demo2x"></div>
                   <script type="text/javascript" src="js/rolling.js"></script>
               </div>
            </div>
        </div> 
 


<!-- 页脚 -->
<div class="foot">
	<p>友情链接：
    <a href="#">后台管理</a> 
    &nbsp; &nbsp; 
    <a href="#">千睿医械网</a> 
    &nbsp; &nbsp; 
    <a href="#">陕西省人民医院</a>
    &nbsp; &nbsp;  
    <a href="#">国家食品药品监督管理局</a>
    &nbsp; &nbsp; 
    <a href="#">陕西省卫生计生委</a>
    &nbsp; &nbsp;
    </p>
    <p>COPYRIGHT BY  ALL RIGHT RESERVED版权所有</p>
</div>
</body>
<script type=text/javascript>
//<!--图片的数量,0必须保存-->
	var target = ["0","1","2","3","4"];
</script>
</html>