@{
    ViewBag.ActiveMenu = "About"; //The menu item will be active for this page.
}
<div>
    <div class="row">
        <div class="col s12 m12 l8">

            <div class="card light-blue lighten-4">
                <div class="card-content">
                    <span class="card-title">关于千睿</span>
                    <p style="text-indent:2em;">
                        西安千睿网络信息有限公司成立于2015年12月，是一家民营股份有限公司。公司致力于打造国内第一家真正的<a href="http://www.mdevc.com" target="_black">医学装备咨询门户网！</a>公司本着建立首家医学装备网络化信息服务平台，率先创建医学装备配置建议系统，首次推出医学装备应用管理云服务平台。以互联网+的医疗装备模式为企业和产品提供新的运营选择。
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l4">
            <div class="card light-blue lighten-4">
                <div class="card-content">
                    <span class="card-title">快速链接</span>
                    <p>
                        我们给您提供了快捷链接哦！
                    </p>
                </div>
                <div class="card-action">
                    <a href="http://www.mdevc.com" target="_black">千睿医蟹网</a>
                    <a href="http://www.mdevc.com" target="_black">千睿云平台</a>
                </div>
            </div>
        </div>
    </div>
</div>