
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>陕西省人民医院医疗器材网网站模板</title>
    <script language=javascript>
        document.write('<link rel=stylesheet type="text/css" href="css/style.css">')
    </script>
    <link type="text/css" href="css/nav.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script language="javascript" src="js/jquery-1.7.2.min.js"></script>
    <script language="javascript" src="js/nav.js"></script>
    <script language="javascript" src="js/jquery.pack.js"></script>
    <script language="javascript" src="js/slide.js"></script>
    <script language="javascript" src="js/png.js"></script>

</head>

<body>
    <div class="head">
        <div class="top">
            <div class="line_01">
                <p class="logo"><a href="javascript:location.reload();" class="index"><img src="images/img/spphlogo01.jpg" width="477" height="76" /></a></p>

                <form action="" method="post" name="searchform" id="searchform">
                    <p class="search">
                        <input type="text" value="" name='keyboard' id='keyboard' class="s_text" />
                        <input type="submit" value="搜索" class="s_btn" />
                    </p>
                </form>

            </div>
            <div class="header_all">
                <div class="nav" id="nav">
                    <p class="n_left_bg"><a href="javascript:location.reload();" class="index">首页</a></p>
                    <ul>
                        <li>
                            <span class="v"><a href="#" class="about">风采展示</a></span>
                            <div class="bg">
                                <div class="b_link">
                                    <a href="#">医院介绍</a>
                                    <a href="#">科室简介</a>
                                    <a href="#">科室动态</a>
                                    <a href="#">科室风采</a>
                                    <a href="#">科室党建</a>

                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="v"><a href="#" class="news">学习园地</a></span>
                            <div class="bg">
                                <div class="b_link">
                                    <a href="#">政策法规</a>
                                    <a href="#">医工学科</a>
                                    <a href="#">不良事件</a>
                                    <a href="#">质量管理</a>
                                    <a href="#">市场动态</a>
                                    <a href="#">学科前沿</a>

                                </div>
                            </div>


                        </li>
                        <li>
                            <span class="v"><a href="#" class="industry">办事流程</a></span>
                            <div class="bg">
                                <div class="b_link">
                                    <a href="#">医学装备部</a>
                                    <a href="#">耗材试剂部</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="v"><a href="#" class="careers">表格下载</a></span>
                            <div class="bg">
                                <div class="b_link">
                                    <a href="#">医学装备部</a>
                                    <a href="#">耗材试剂部</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="v"><a href="#" class="party">通知</a></span>
                            <div class="bg">
                                <div class="b_link">
                                    <a href="#">医学装备部</a>
                                    <a href="#">耗材试剂部</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="v"><a href="#" class="cultrue">公告公示</a></span>
                            <div class="bg">
                                <div class="b_link">
                                    <a href="#">医学装备部</a>
                                    <a href="#">耗材试剂部</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="v"><a href="#" class="contact">联系我们</a></span>
                            <div class="bg">
                                <div class="b_link">

                                </div>
                            </div>


                        </li>
                    </ul>

                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </div>


    <div class="banner">
        <!--banner-->
        <div class="ban_pic">

            <div class="image" id="image_1">
                <a href="#" target="_blank">
                    <img src="images/img/001_03.png" />
                </a>
                <div class="word"></div>
            </div>

            <div class="image" id="image_2">
                <a href="#" target="_blank">
                    <img src="images/img/lxyz.jpg" />
                </a>
                <div class="word"></div>
            </div>

            <div class="image" id="image_3">
                <a href="#" target="_blank">
                    <img src="images/img/yu1_07.png" />
                </a>
                <div class="word"></div>
            </div>

        </div>


        <div class="open">
            <div class="o_center">
                <!--
                <h3>快速服务通道：</h3>
                <p><marquee scrollamount="2" width="500" onmouseover="stop()" onmouseout="start()"></marquee></p>
                -->
            </div>
        </div>
    </div>

    <!-- 页脚 -->
    <div class="jianjie">
        <div class="m_content1">
            <div class="in_news1">
                <div class="in_tit1">
                    <ul>
                        <li id="News1_id"><a href="javascript:viod();" class="now1">医院简介</a></li>
                        <li id="Information1_id"><a href="javascript:viod();">医学装备部简介</a></li>
                        <li id="Science1_id"><a href="javascript:viod();">耗材试剂部简介</a></li>
                    </ul>
                </div>
                <div class="in_list" id="News1" style="display:block">
                    <div class="in_pic">
                        <!-- 首页头条头图-->
                        <p>
                            <img src="images/img/lk001.jpg" width="205" height="152" />
                        </p>
                    </div>
                    <div class="pic_list">
                        <ul>

                            &nbsp; &nbsp;陕西省人民医院是陕西省人民政府举办的正厅级综合性三级甲等公立医院，是陕西省临床医学研究院、国家药物临床试验机构、国家全科医生培训基地、国家住院医师规范化培训基地和国家级卫生应急医疗救援队所在单位。承担着全省及周边地区的医疗、教学、科研、预防、保健、急救等任务。主办有《中国卫生质量管理》杂志、《现代检验医学杂志》（中国科技论文统计源期刊、中国科技核心期刊）。
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="in_list" id="Information1" style="display:none">
                    <div class="in_pic">
                        <!-- 首页头条头图-->
                        <p>
                            <img src="images/img/sz.png" width="205" height="152" />
                        </p>
                    </div>
                    <div class="pic_list">
                        <ul>
                            <li>
                                &nbsp; &nbsp;陕西省人民医院医学装备部组建于2013年11月，是在原设备管理科的基础上进行职能分离和专技细化而来。医学装备部是医院重要的服务保障和专业技术管理部门之一。主要行使组织和实施医学装备的规划、引进和使用管理职责并承担运行保障任务。<br />
                                &nbsp; &nbsp;陕西省人民医院医工团队12年专注于医学装备和医用耗材的精细化管理，坚持走产学研用相结合的学科发展思路。在医工学科发展、部门内涵提升、器材规范化管理、信息化建设和学术科研开展以及成果推广转化上取得成绩。
                            </li>

                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="in_list" id="Science1" style="display:none">
                    <div class="in_pic">
                        <!-- 首页头条头图-->
                        <p>
                            <img src="images/img/fw9.jpg" width="205" height="152" />
                        </p>
                    </div>
                    <div class="pic_list">
                        <ul>
                            <li>
                                &nbsp; &nbsp;陕西省人民医院耗材试剂部成立于2013年11月，是将原设备管理科医用耗材和原药剂科实验试剂的供管职能分离并重新整合后成立的部门，专技定位，处级建制,承担全院医用耗材及实验试剂的采购、仓储和使用的管理和服务职责。<br />
                                &nbsp; &nbsp;医用耗材和实验试剂是医院经营管理的重要物资。长期以来，我院十分重视医用耗材和试剂的规范化管理，耗材试剂部现有员工15人，其中高级技术职称人员4人，中级技术职称人员6人。现设置有资产会计组、采购供应组、保管组和直属二级库等专业小组。管理部业已开展数年的基于准用制度的目录库技术、医用耗材采购招标规则、耗材资质动态管理方法、二级库流向监管与流量控制、直属二级库管理等业务，原理机制先进，应用效果确切。
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>

            <div class="video">
                <h3>快捷服务通道</h3>

                <div class="roll">
                    <div class="r_cen">
                        <ul class="r_center" id="service_items">
                            <li class="roll_pic r_01" onclick="javascript:window.location.href='#';">
                                <h2><a href="#">采购招标</a></h2>
                                <p><a href="#">采购公告</a>&nbsp; &nbsp; <a href="#">中标公示</a></p>
                                <p><a href="#">客户关系管理</a></p>
                                <p> <a href="#">资质智能管理</a></p>
                            </li>
                            <li class="roll_pic r_02" onclick="javascript:window.location.href='#';">
                                <h2><a href="#">专属办公</a></h2>
                                <p><a href="#">采购订单</a>&nbsp; &nbsp; <a href="#">物流链管理</a></p>
                                <p><a href="#">设备运维保障支持</a></p>
                                <p><a href="#">设备质控管理</a></p>
                            </li>

                            <li class="roll_pic r_03" onclick="javascript:window.location.href='#';">
                                <h2><a href="#">精细管理</a></h2>
                                <p><a href="#">设备成本效益分析</a></p>
                                <p><a href="#">耗材流量流向控制</a></p>
                            </li>
                            <li class="roll_pic r_04" onclick="javascript:window.location.href='#';">
                                <h2><a href="#">市场支持</a></h2>
                                <p><a href="#">找产品</a>&nbsp; &nbsp; <a href="#">找总代</a></p>
                                <p><a href="#">市场询价</a>&nbsp; &nbsp; <a href="#">找服务</a></p>
                                <p><a href="#">征询参数</a>&nbsp; &nbsp; <a href="#">自由交流</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>



    <!-- 中间图片滚动栏 -->
    <div class="gundong">

        <div class="label_title">
            <h3>大型医疗设备</h3>
        </div>
        <div id="demox">
            <div id="demoxList">
                <div id="demo1x">
                    <a href=""><img src="images/img/dxsb/20083249422402.jpg" /><br />设施</a>
                    <a href=""><img src="images/img/dxsb/200832492046518.jpg" /><br />设施1</a>
                    <a href=""><img src="images/img/dxsb/200832492334382.jpg" /><br />设施2</a>
                    <a href=""><img src="images/img/dxsb/200832495039490.jpg" /><br />设施3</a>
                    <a href=""><img src="images/img/dxsb/200832495424881.jpg" /><br />设施4</a>
                    <a href=""><img src="images/img/dxsb/200839234247237.jpg" /><br />设施5</a>
                    <a href=""><img src="images/img/dxsb/201482194526254.jpg" /><br />设施6</a>
                    <a href=""><img src="images/img/dxsb/2011112110510645.jpg" /><br />设施7</a>
                </div>
                <div id="demo2x"></div>
                <script type="text/javascript" src="js/rolling.js"></script>
            </div>
        </div>
    </div>

    <!-- 页脚 -->
    <div class="main">
        <div class="m_content">
            <div class="in_news">
                <div class="in_tit">
                    <ul>
                        <li id="News_id"><a href="javascript:viod();" class="now">新闻资讯</a></li>
                        <li id="Information_id"><a href="javascript:viod();">办事流程</a></li>
                        <li id="Science_id"><a href="javascript:viod();">学习园地</a></li>
                    </ul>
                </div>
                <div class="in_list" id="News">
                    <div class="in_pic">
                        <!-- 首页头条头图-->
                        <p>
                            <img src="images/img/xw.png" width="205" height="152" />
                        </p>
                    </div>
                    <div class="pic_list">
                        <ul>
                            <li><a href="#" title="陕西省人民医院简介">陕西省人民医院简介</a><span>2013-06-28</span></li>
                            <li><a href="#" title="陕西省人民医院——耗材试剂部简介">陕西省人民医院——耗材试剂部简介</a><span>2013-06-28</span></li>
                            <li><a href="#" title="陕西省人民医院——医学装备部简介">陕西省人民医院——医学装备部简介</a><span>2013-06-28</span></li>
                            <li><a href="#" title="陕西省人民医院——医学工程学科简介">陕西省人民医院——医学工程学科简介</a><span>2013-06-28</span></li>
                            <li><a href="#" title="省市药品不良反应监测中心领导调研指导我院医疗器械不良反应监测报告工作">省市药品不良反应监测中心领导调研指导我院医疗器械不良反应监测报告工作</a><span>2013-06-28</span></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="in_list" id="Information">

                    <div class="pic_list" style="width:640px;float:left;">
                        <ul>
                            <li><a href="#" title="医学装备部各种表格汇总">医学装备部各种表格汇总</a><span>2013-06-28</span></li>
                            <li><a href="#" title="耗材试剂部各种表格汇总">耗材试剂部各种表格汇总</a><span>2013-06-28</span></li>
                            <li><a href="#" title="医学装备——设备故障维修流程">医学装备——设备故障维修流程</a><span>2013-06-28</span></li>
                            <li><a href="#" title="医学装备——设备租赁流程">医学装备——设备租赁流程</a><span>2013-06-28</span></li>
                            <li><a href="#" title="医学装备——关键设备故障应急预案流程">医学装备——关键设备故障应急预案流程</a><span>2013-06-28</span></li>
                            <li><a href="#" title="耗材试剂——科研用耗材试剂购置流程">耗材试剂——科研用耗材试剂购置流程</a><span>2013-06-28</span></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="in_list" id="Science">

                    <div class="pic_list" style="width:640px;float:left;">
                        <ul>
                            <li><a href="#" title="危险化学品安全管理条例">危险化学品安全管理条例</a><span>2013-06-28</span></li>
                            <li><a href="#" title="国家医疗器械不良事件监测年度报告（2015年度）">国家医疗器械不良事件监测年度报告（2015年度）</a><span>2013-06-28</span></li>
                            <li><a href="#" title="医疗器械使用质量监督管理办法">医疗器械使用质量监督管理办法</a><span>2013-06-28</span></li>
                            <li><a href="#" title="医疗设备管理信息化现状与解决方案">医疗设备管理信息化现状与解决方案</a><span>2013-06-28</span></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>





            <div class="video">
                <h3>重要通知</h3>
                <div>
                    <div class="pic_list" style="width:260px;height:180px;">
                        <marquee scrollamount="3" direction="up" style="height:100%;">
                            <ul>
                                <li><a href="#" title="医学装备部——离心机等招标公告">医学装备部——离心机等招标公告</a><span>2013-06-28</span></li>
                                <li><a href="#" title="医学装备部——洗胃机等招标公告">医学装备部——洗胃机等招标公告</a><span>2013-06-28</span></li>
                                <li><a href="#" title="耗材试剂部——病理科用试剂招标公告">耗材试剂部——病理科用试剂招标公告</a><span>2013-06-28</span></li>
                                <li><a href="#" title="耗材试剂部——新生儿PICC招标公告">耗材试剂部——新生儿PICC招标公告</a><span>2013-06-28</span></li>

                            </ul>
                        </marquee>
                    </div>
                    <!--
                    <div class="v_pic">
                        <div id="FlashFile">
                    <object type="application/x-shockwave-flash" width="220px" height="178px" data="flvplayer.swf?file=ftp://218.28.100.165/HNLT-Fly.FLV">
                    <param name="movie" value="flvplayer.swf?file=ftp://218.28.100.165/HNLT-Fly.FLV&amp;showfsbutton=true&amp;autostart=false">
                    <param name="wmode" value="transparent">
                    <param name="quality" value="high">
                    <param name="allowfullscreen" value="true">
                    <embed src="flvplayer.swf?file=ftp://218.28.100.165/HNLT-Fly.FLV&amp;showfsbutton=true&amp;autostart=false" width="220px" height="178px" wmode="transparent" quality="high" allowfullscreen="true">
                    </object>
                    </div>
                    </div>
                    -->

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>


    <!-- 页脚 -->
    <div class="foot">
        <p>
            友情链接：
            <a href="#">后台管理</a>
            &nbsp; &nbsp;
            <a href="#">千睿医械网</a>
            &nbsp; &nbsp;
            <a href="#">陕西省人民医院</a>
            &nbsp; &nbsp;
            <a href="#">国家食品药品监督管理局</a>
            &nbsp; &nbsp;
            <a href="#">陕西省卫生计生委</a>
            &nbsp; &nbsp;
        </p>
        <p>COPYRIGHT BY  ALL RIGHT RESERVED版权所有</p>
    </div>
</body>
</html>
<script type=text/javascript>
    //、<!--图片的数量,0必须保存-->
    var target = ["0", "1", "2", "3", "4"];
</script>

