<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title id="data-title">医蟹网|千睿医蟹联盟</title>
    <link rel="icon" href="../../favicon.ico" sizes="32x32" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="../../assert/plugs/others/html5shiv.js"></script>
        <script src="../../assert/plugs/others/respond.min.js"></script>
    <![endif]-->

    <script language=javascript>
        document.write('<link rel=stylesheet type="text/css" href="css/style.css">')
    </script>
    <link type="text/css" href="css/nav.css" rel="stylesheet" />
    <!--<link href="/css/style.css" rel="stylesheet" type="text/css" />-->

</head>

<body>
    <div class="head">
        <div class="top">
            <div class="line_01">
                <p class="logo"><a href="javascript:location.reload();" class="index"><img id="data-logo" src="" width="477" height="76" /></a></p>

                <a style="float:right" id="login" href="" target="_blank"><input type="button" value="登录后台管理" class="s_btn" /></a>
                <form action="" method="post" name="searchform" id="searchform">
                    <p class="search">
                        <input type="text" value="" name='keyboard' id='keyboard' class="s_text" />
                        <input type="button" value="搜索" class="s_btn" />
                    </p>
                </form>

            </div>
            <div class="header_all">
                <div class="nav" id="nav">
                    <p class="n_left_bg"><a href="javascript:location.reload();" class="index">首页</a></p>
                    <ul id="nav-menu">
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </div>

    <div class="wrap" id="wrap-page"></div>


    <div class="banner">
        <!--banner-->
        <div class="ban_pic" id="banner">

        </div>


        <div class="open">
            <div class="o_center">
                <!--
                <h3>快速服务通道：</h3>
                <p><marquee scrollamount="2" width="500" onmouseover="stop()" onmouseout="start()"></marquee></p>
                -->
            </div>
        </div>
    </div>

    <!-- 页脚 -->
    <div class="jianjie">
        <div class="m_content1">
            <div class="in_news1" id="data-sige-page">
                <div class="in_tit1">
                    <ul>
                        <li ><a href="javascript:viod();" class="now1" id="data-sige-title"></a></li>
                    </ul>
                </div>
                <div class="in_list" id="News1" style="display:block">
                    <div class="in_pic">
                        <!-- 首页头条头图-->
                        <p>
                            <img src="" width="205" height="152" id="data-sige-img" />
                        </p>
                    </div>
                    <div class="pic_list" id="data-sige-introduce">
                       
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="in_list" id="Information1" style="display:none">
                    <div class="in_pic">
                        <!-- 首页头条头图-->
                        <p>
                            <img src="images/img/sz.png" width="205" height="152" />
                        </p>
                    </div>
                    <div class="pic_list">
                        <ul>
                            <li>
                                &nbsp; &nbsp;陕西省人民医院医学装备部组建于2013年11月，是在原设备管理科的基础上进行职能分离和专技细化而来。医学装备部是医院重要的服务保障和专业技术管理部门之一。主要行使组织和实施医学装备的规划、引进和使用管理职责并承担运行保障任务。<br />
                                &nbsp; &nbsp;陕西省人民医院医工团队12年专注于医学装备和医用耗材的精细化管理，坚持走产学研用相结合的学科发展思路。在医工学科发展、部门内涵提升、器材规范化管理、信息化建设和学术科研开展以及成果推广转化上取得成绩。
                            </li>

                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="in_list" id="Science1" style="display:none">
                    <div class="in_pic">
                        <!-- 首页头条头图-->
                        <p>
                            <img src="images/img/fw9.jpg" width="205" height="152" />
                        </p>
                    </div>
                    <div class="pic_list">
                        <ul>
                            <li>
                                &nbsp; &nbsp;陕西省人民医院耗材试剂部成立于2013年11月，是将原设备管理科医用耗材和原药剂科实验试剂的供管职能分离并重新整合后成立的部门，专技定位，处级建制,承担全院医用耗材及实验试剂的采购、仓储和使用的管理和服务职责。<br />
                                &nbsp; &nbsp;医用耗材和实验试剂是医院经营管理的重要物资。长期以来，我院十分重视医用耗材和试剂的规范化管理，耗材试剂部现有员工15人，其中高级技术职称人员4人，中级技术职称人员6人。现设置有资产会计组、采购供应组、保管组和直属二级库等专业小组。管理部业已开展数年的基于准用制度的目录库技术、医用耗材采购招标规则、耗材资质动态管理方法、二级库流向监管与流量控制、直属二级库管理等业务，原理机制先进，应用效果确切。
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>

            <div class="video">
                <h3>快捷服务通道</h3>

                <div class="roll">
                    <div class="r_cen">
                        <ul class="r_center" id="service_items">
                            <li class="roll_pic r_01" onclick="javascript:window.location.href='#';">
                                <h2><a href="#">采购招标</a></h2>
                                <p><a href="#">采购公告</a>&nbsp; &nbsp; <a href="#">中标公示</a></p>
                                <p><a href="#">客户关系管理</a></p>
                                <p> <a href="#">资质智能管理</a></p>
                            </li>
                            <li class="roll_pic r_02" onclick="javascript:window.location.href='#';">
                                <h2><a href="#">专属办公</a></h2>
                                <p><a href="#">采购订单</a>&nbsp; &nbsp; <a href="#">物流链管理</a></p>
                                <p><a href="#">设备运维保障支持</a></p>
                                <p><a href="#">设备质控管理</a></p>
                            </li>

                            <li class="roll_pic r_03" onclick="javascript:window.location.href='#';">
                                <h2><a href="#">精细管理</a></h2>
                                <p><a href="#">设备成本效益分析</a></p>
                                <p><a href="#">耗材流量流向控制</a></p>
                            </li>
                            <li class="roll_pic r_04" onclick="javascript:window.location.href='#';">
                                <h2><a href="#">市场支持</a></h2>
                                <p><a href="#">找产品</a>&nbsp; &nbsp; <a href="#">找总代</a></p>
                                <p><a href="#">市场询价</a>&nbsp; &nbsp; <a href="#">找服务</a></p>
                                <p><a href="#">征询参数</a>&nbsp; &nbsp; <a href="#">自由交流</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>



    <!-- 中间图片滚动栏 -->
    <div class="gundong">

        <div class="label_title">
            <h3>大型医疗设备</h3>
        </div>
        <div id="demox">
            <div id="demoxList">
                <div id="demo1x">
                    <a href=""><img src="images/img/dxsb/20083249422402.jpg" /><br />设施</a>
                    <a href=""><img src="images/img/dxsb/200832492046518.jpg" /><br />设施1</a>
                    <a href=""><img src="images/img/dxsb/200832492334382.jpg" /><br />设施2</a>
                    <a href=""><img src="images/img/dxsb/200832495039490.jpg" /><br />设施3</a>
                    <a href=""><img src="images/img/dxsb/200832495424881.jpg" /><br />设施4</a>
                    <a href=""><img src="images/img/dxsb/200839234247237.jpg" /><br />设施5</a>
                    <a href=""><img src="images/img/dxsb/201482194526254.jpg" /><br />设施6</a>
                    <a href=""><img src="images/img/dxsb/2011112110510645.jpg" /><br />设施7</a>
                </div>
                <div id="demo2x"></div>
                <script type="text/javascript" src="js/rolling.js"></script>
            </div>
        </div>
    </div>

    <!-- 页脚 新闻 通知等 -->
    <div class="main">
        <div class="m_content">
            <div class="in_news" id="data-content">
                
            </div>

            <div class="video">
                <h3>重要通知</h3>
                <div>
                    <div class="pic_list" style="width:260px;height:180px;">
                        <marquee scrollamount="3" direction="up" style="height:100%;">
                            <ul id="focus-news"></ul>
                        </marquee>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>


    <!-- 页脚 -->
    <div class="foot">
        <p id="links">
        </p>
        <p>
            &copy;2016 版权所有 西安千睿网络信息有限公司
            <a class="grey-text text-lighten-4 right" href="http://www.mdevc.com">最新、最全医疗器械信息，请上千睿医蟹网！</a>
        </p>
    </div>


    <script src="../../assert/plugs/json2/json2.min.js"></script>
    <script src="../../assert/plugs/jquery/jquery.min.js"></script>
    <script language="javascript" src="js/nav.js"></script>
    <!--<script language="javascript" src="js/jquery.pack.js"></script>-->
    <script language="javascript" src="js/slide.js"></script>
    <script language="javascript" src="js/png.js"></script>
    <script src="../../assert/scripts/abp/abp.js"></script>
    <script src="../../assert/scripts/abp/libs/abp.jquery.js"></script>
    <script src="template3.js"></script>

</body>
</html>
<script type=text/javascript>
    //、<!--图片的数量,0必须保存-->
    var target = ["0", "1", "2", "3", "4"];
    $(function () {
        Global.init();
        Global.load_Menu();
        //$('.carousel.carousel-slider').carousel({ full_width: true });
        Global.load_Configs();
        Global.load_Sliders();
        Global.load_FriendLink();
    });
</script>

